@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<H3>Tutora</H3>
<p>Yolanda Clavijo Alonso</p>

<h3>@ViewBag.Message</h3>

<p>Rodinson Parra Pinto</p>
<p>Jorge Estrada</p>
<p>Hernan A. Laborde</p>
